/*           GENERALES           */
*{
  font-size: 62.5%;
  color: #ffffff;
}
body{
  background-image: linear-gradient(rgba(70, 0, 0, 0.911) , rgba(100, 100, 1, 0.66));
  background-repeat: no-repeat;
  background-size: cover;
}
/*           NAV           */
header nav{
  width: 100%;
  display: flex;
  font-size: 9rem;
  gap: 2rem;
  justify-content: space-evenly;
  background-color: rgba(255, 232, 142, 0.334);
  border-radius: 10rem;
  margin-top: 4rem;
  height: 8rem;
}
nav a{
  text-decoration: none;
}
/*           HOME           */
.welcom{
  display: flex;
  width: 100%;
  font-size: 12rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.welcom h2{
  font-size: 8rem;
}
.welcom h1{
  font-size: 12rem;
  margin: 1px;
  margin-top: 4rem;
}
.imgbottom{
  display: flex;
  width: 100%;
}
.buttom1 {
  display: none;
  width: 40rem;
  position: absolute;
  bottom: -70%;
  right: 42%;
  font-size: 15rem;
}
.img1{
width: 100%;
}
.doubleimg{
  display: flex;
  flex-direction: row-reverse;
  margin: 4rem;
  color: #ffffffef;
}
.img-index2{
  width: 50%;
}
.home1{
  width: 50%;
  font-size: 6rem;
  text-align: center;
  margin-right: 10rem;
}
/*         ABOUT      */ 
.main-about{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about1{
  font-size: 12rem;
}
.about2{
  font-size: 6rem;
}
.containerAbout{
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(rgb(16 76 74 / 70%), rgb(60 31 38 / 28%));
}
.div-img{
  display: flex;
  height: 51vh;
  align-items: center;
  justify-content: center;
  border: solid 3px;
  padding: 7rem;
}
.img-about{
  width: 35%;
  margin: 3rem;
  border-radius: 20rem;
}
.pabout{
  margin-left: 12rem;
  font-size: 7rem;
  width: 60rem;
  text-align: center;
  padding: 5rem;
  margin-top: 15rem;
  border-radius: 10rem;
}
/*         CONTACT      */ 
.contact-h{
  font-size: 10rem;
  text-align: center;
}
.contact2{
  font-size: 6rem;
  text-align: center;
}
.contac-img{
width: 100%;
}
.div-contact1{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.div-contact p{
font-size: 4rem;
display: flex;
}
.links{
  width: 100%;
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
/*         TABLA      */ 
.tabla-1 {
  display: flex;
  justify-content: center;
  margin: 10rem;
}
.tabla-2 {
  width: 119vh;
  height: 78vh;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.tabla-1 td,.tabla th{
  line-height: 3;
  background-color: #2e2538;
  padding: 15px;
  margin: 5px;
  color: #dcbebe;
  text-shadow: 5px 5px rgb(0, 0, 0);
}
tbody{
  font-size: 12rem;
}
th{
  background-color: #390d56e2;
  color: #dcbebe;
  text-shadow: 5px 5px rgb(0, 0, 0);
}
/*         benefits      */ 

.title-benefits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  font-size: 8rem;
}
.main-benefits{
  display: flex;
  flex-direction: column;
}
.div-benefits{
  display: flex;
}
.image-benefits{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5rem;
}
.text-benefits {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 8rem;
  align-items: center;
  padding: 20px;
}