* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
}
body {
	background: #ED213A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	
}
.testUno{
	filter: drop-shadow(8px 8px rgb(0, 0, 0));
	color: #ffffff;
	font-family: 'Gajraj One', cursive;
	
}
main {
	
	min-height: 85vh;
}
/* NAV */
.navbar {
	justify-content: space-evenly;
}

.imgNav {
	max-height: 48px;
}

.container {
	width: 100%;
}

.marginCero {
	margin: 20px !important;
	width: auto !important;
}

/* checkBox */
.checkBox{
	display: flex;
	justify-content: center;
}
.checkBox ul {
	list-style: none;
}
.checkBox ul li{
	display: inline-block;
	margin: 0 10px;
}
.checkBox ul li label{
	display: inline-block;
	background: #fdfbfb;
	border: 3px solid rgb(0, 0, 0);
	color: #000000;
	border-radius: 25px;
	transition: .5s all ease;
  width: 150px;
  display: flex;
  justify-content: center;
}
.checkBox ul li label:hover{
	border: 1px solid rgb(0, 0, 0);
}
.checkBox ul li input[type="checkbox"]:checked + label{
	border: 2px solid #e605f6c0;
	background-color: rgb(0, 0, 0);
	color: white;
}
.checkBox ul li input[type="checkbox"]{
	opacity: 0;
}
/* CARDS */
.detailsCards{
	background-color: #000000;
}
.card-body h5{
	color: white !important;
}
.card-body p{
	color: white !important;
}
.cardFondo{
	background: #834d9b;  
	background: -webkit-linear-gradient(to right, #d04ed6, #834d9b);  
	background: linear-gradient(to right, #d04ed6, #834d9b); 
	filter: opacity(3);	
	filter: drop-shadow(14px 14px 1px black);
}
.card-body {
	display: flex;
	flex-direction: column;
}
.card-text {
	height: 80%;

}
.cardImg {
	width: 100%;
	height: 75%;
}
.card-footer {
	background-color: transparent;
	border: none;
	padding: 0;
}
.contenedor-card {
    width: 70vw;
    border-radius: 2rem;
	}
/* footer */
.iconsmall {
	font-size: 1.4rem;
	max-width: 150px;
}
footer {
	height: 10vh;
	min-width: 10vh;
	padding: 4px 0;
	justify-content: space-evenly;
}
footer > p {
	margin: 0;
	font-size: 1.5rem;
}
/* Contact */
.form1 {
	font-size: 4rem;
	width: 15%;
	height: 45vh;
	min-width: 40vh;
}
/* TABLE */
table{
  text-align: center;
  width: 90%;
  margin: 1rem;
  border-radius: 1rem;
}
table, tr, th, td{
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 0.5rem 0.5rem;
}
tr th{
  background-color: #000000;
}
@media only screen and (max-width: 767px) {
	.columna {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}