*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
body{
  background: #EB5757;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
main{
  min-height: 60vh;
}
/* NAV */
.imgNav{
width: 35%;
}
.navAli{
  width: 15%;
}
.marginCero{
  margin: 20px !important;
  width: auto !important;
}
/* CARDS */
.card{
  height: 45vh;
  min-width: 45vh;
}
.cardImg{
  width: 100%;
  height: 55%;
}
.btn1{
  box-shadow: 5px 5px 5px 5px black;
}
/* footer */
.iconsmall{
  font-size: 3rem;
}
footer{
  min-height: 12vh;
}
/* Contact */

.form1{
  font-size: 4rem;
  width: 15%;
  height: 45vh;
  min-width: 40vh;
}